.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3125rem;
  max-width: 100px;
  padding: 0.5rem 0.3125rem;
  border-radius: 0.5rem;
  background-color: white;
  border: 1px solid #e5e7eb;
}

.controls input {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  outline: none;
  border: none;
  width: 35%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
