.button {
  font-size: 1.125rem;
  padding: 0.5625rem 0.3125rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: #dc2626ed;
  cursor: pointer;
  flex: 1;
}

.noflex {
  flex: unset;
  font-size: 16px;
  padding: 0.5625rem 0.345rem;
}

.normalButton {
  flex: unset;
  display: block;
  color: black;
  background-color: transparent;
}

.buttonZero {
  flex: unset;
  background-color: transparent;
  color: black;
  padding: 0;
}

.buttonGreen {
  font-size: 1.125rem;
  padding: 0.5625rem 0.3125rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  cursor: pointer;
  background-color: green;
  flex: unset;
}

.buttongreen2 {
  font-size: 1rem;
  font-weight: 600;
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  color: white;
  background-color: green;
  width: 100%;
  margin-top: 0.9375rem !important;
}
