.section {
  position: fixed;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.538);
  z-index: 400;
  box-sizing: border-box;
}

.cart {
  max-width: 500px;
  width: 100%;
  padding: 12px;
  position: fixed;
  background-color: #fff;
  top: 0;
  right: 0;
  z-index: 405;
  animation: cartAnime 0.5s ease;
}

@keyframes cartAnime {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

.cart > p:nth-child(2) {
  font-size: 18px;
  font-weight: 500;
}

.cart p:first-child {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.ordem {
  display: flex;
  align-items: center;
}

.ordem img {
  display: block;
  margin: 0;
  max-width: 60px;
}

.ordem span p {
  font-size: 18px;
}
.ordem span {
  color: red;
}

.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 6px; /* SO DE TESTE...... */
  /* margin-bottom: 8px; */
  margin: 15px 0px 10px 0px;
}

.price {
  font-size: 18px;
  font-weight: 600;
}

.containerBts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

img {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}
