.main {
  max-width: 1200px;
  width: 100%;
  margin: 220px auto auto auto;
  padding: 0.75rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 0.625rem;
  row-gap: 25px;
}

@media (max-width: 767px) {
  .container {
    grid-template-columns: 1fr;
  }
}
