.input {
  padding: 0.625rem;
  background-color: #f3f4f6;
  outline: none;
  border: 1px solid darkgray;
  width: 100%;
  transition: all 0.3s;
  border-radius: 0.5rem;
}

input[type="text"] {
  margin-bottom: 0.75rem;
}

.input:focus:hover {
  border-color: red;
}

label,
.input {
  display: block;
}
